@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --primary-color: #69417E;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-primary {
    color: var(--primary-color);
  }

  .bg-primary {
    background-color: var(--primary-color);
  }

  .border-primary {
    border-color: var(--primary-color);
  }

  .hover\:bg-primary:hover {
    background-color: var(--primary-color);
  }

  .hover\:text-primary:hover {
    color: var(--primary-color);
  }

  .hover\:border-primary:hover {
    border-color: var(--primary-color);
  }
}



.booking-container {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.booking-line {
  position: relative;
  width: 80%;
  height: 2px;
  background: linear-gradient(to right, #9b5de5, #9b5de5);
}

.booking-line::before,
.booking-line::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  transform: translateY(-50%);
}

.booking-line::before {
  left: 0;
  border-right-color: #9b5de5;
}

.booking-line::after {
  right: 0;
  border-left-color: #9b5de5;
}

.booking-text {
  position: absolute;
  background-color: white;
  padding: 0 10px;
  font-weight: bold;
  color: #000;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #FFFFFF;
  /* white background for the track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #69417E;
  /* purple scrollbar thumb */
  border-radius: 8px;
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #69417E #FFFFFF;
}

#top-loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: linear-gradient(90deg, #69417E, #cf88d4, #35084e);
  background-size: 200% 100%;
  animation: loaderAnim 1.5s linear infinite;
  z-index: 9999;
  display: none;
}

#page-overlay {
  position: fixed;
  inset: 0;
  background-color: #ffffff30;
  /* semi-transparent white */
  backdrop-filter: blur(2px);
  z-index: 9998;
  display: none;
  cursor: wait;
}

@keyframes loaderAnim {

  /* 0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  } */
  0% {
    left: -100%;
    width: 100%;
  }

  50% {
    left: 25%;
    width: 50%;
  }

  100% {
    left: 100%;
    width: 0;
  }
}

.fc .fc-view-harness {
  max-width: 100%;
  overflow-x: auto;
  scrollbar-width: thin;
}

.fc-dayGridMonth-view.fc-view.fc-daygrid {
  min-width: 718px;
}

.fc .fc-scrollgrid-section > * {
  border-right-width: 0;
  border-bottom-width: 0;
}

.fc .fc-scrollgrid {
  border-left-width: 0;
}

.fc .fc-toolbar.fc-header-toolbar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
}
@media (min-width: 640px) {
  .fc .fc-toolbar.fc-header-toolbar {
    flex-direction: row;
  }
}

.fc-button-group {
  display: flex;
  gap: 0.5rem;
}

.fc-button-group .fc-button {
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
  background-color: transparent;
  box-shadow: none;
}
.fc-button-group .fc-button:hover {
  background-color: #f9fafb;
  border-color: #e5e7eb;
}
.fc-button-group .fc-button:focus,
.fc-button-group .fc-button:active {
  box-shadow: none;
  background-color: transparent;
  border-color: #e5e7eb;
}
.dark .fc-button-group .fc-button {
  border-color: #1f2937;
}
.dark .fc-button-group .fc-button:hover {
  background-color: #111827;
  border-color: #1f2937;
}
.dark .fc-button-group .fc-button:active {
  background-color: transparent;
  border-color: #1f2937;
}

.fc-button-group .fc-button.fc-prev-button:before {
  display: inline-block;
  margin-top: 0.25rem;
  content: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.0068 6L9.75684 12.25L16.0068 18.5' stroke='%23344054' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.fc-button-group .fc-button.fc-next-button:before {
  display: inline-block;
  margin-top: 0.25rem;
  content: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.50684 19L15.7568 12.75L9.50684 6.5' stroke='%23344054' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.dark .fc-button-group .fc-button.fc-prev-button:before {
  content: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.0068 6L9.75684 12.25L16.0068 18.5' stroke='%2398A2B3' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.dark .fc-button-group .fc-button.fc-next-button:before {
  content: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.50684 19L15.7568 12.75L9.50684 6.5' stroke='%2398A2B3' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.fc-button-group .fc-button .fc-icon {
  display: none;
}

.fc-addEventButton-button {
  border-radius: 0.5rem;
  border: none;
  background-color: #6366f1;
  padding: 0.625rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: white;
}
.fc-addEventButton-button:hover {
  background-color: #4f46e5;
}
.fc-addEventButton-button:focus {
  box-shadow: none;
}

.fc-toolbar-title {
  font-size: 1.125rem;
  font-weight: 500;
  color: #1f2937;
}
.dark .fc-toolbar-title {
  color: rgba(255, 255, 255, 0.9);
}

.fc-header-toolbar.fc-toolbar .fc-toolbar-chunk:last-child {
  border-radius: 0.5rem;
  background-color: #f3f4f6;
  padding: 0.125rem;
}
.dark .fc-header-toolbar.fc-toolbar .fc-toolbar-chunk:last-child {
  background-color: #111827;
}
.fc-header-toolbar.fc-toolbar .fc-toolbar-chunk:last-child .fc-button {
  height: auto;
  width: auto;
  border-radius: 0.375rem;
  border: none;
  background-color: transparent;
  padding: 0.5rem 1.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #6b7280;
}
.fc-header-toolbar.fc-toolbar .fc-toolbar-chunk:last-child .fc-button:hover {
  color: #374151;
}
.dark .fc-header-toolbar.fc-toolbar .fc-toolbar-chunk:last-child .fc-button {
  color: #9ca3af;
}
.fc-header-toolbar.fc-toolbar .fc-toolbar-chunk:last-child .fc-button.fc-button-active {
  color: #111827;
  background-color: #ffffff;
}
.dark .fc-header-toolbar.fc-toolbar .fc-toolbar-chunk:last-child .fc-button.fc-button-active {
  color: #ffffff;
  background-color: #1f2937;
}

.fc-theme-standard th {
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 1px solid #e5e7eb !important;
  background-color: #f9fafb !important;
  text-align: left !important;
}
.dark .fc-theme-standard th {
  border-color: #1f2937 !important;
  background-color: #111827 !important;
}

.fc-theme-standard td,
.fc-theme-standard .fc-scrollgrid {
  border-color: #e5e7eb !important;
}
.dark .fc-theme-standard td,
.dark .fc-theme-standard .fc-scrollgrid {
  border-color: #1f2937 !important;
}

.fc .fc-col-header-cell-cushion {
  padding: 1rem 1.25rem !important;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #9ca3af;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: transparent;
}

.fc .fc-daygrid-day {
  padding: 0.5rem;
}

.fc .fc-daygrid-day.fc-day-today .fc-scrollgrid-sync-inner {
  border-radius: 0.125rem;
  background-color: #f3f4f6;
}
.dark .fc .fc-daygrid-day.fc-day-today .fc-scrollgrid-sync-inner {
  background-color: rgba(255, 255, 255, 0.03);
}

.fc .fc-daygrid-day-number {
  padding: 0.75rem !important;
  font-size: 0.875rem;
  font-weight: 500;
  color: #374151;
}
.dark .fc .fc-daygrid-day-number {
  color: #9ca3af;
}

.fc .fc-daygrid-day-top {
  flex-direction: row !important;
}

.fc .fc-day-other .fc-daygrid-day-top {
  opacity: 1;
}

.fc .fc-day-other .fc-daygrid-day-top .fc-daygrid-day-number {
  color: #9ca3af;
}
.dark .fc .fc-day-other .fc-daygrid-day-top .fc-daygrid-day-number {
  color: rgba(255, 255, 255, 0.3);
}

.event-fc-color {
  border-radius: 0.5rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 1rem;
  padding-right: 0.75rem;
}

.event-fc-color .fc-event-title {
  padding: 0;
  font-size: 0.875rem;
  font-weight: 400;
  color: #374151;
}

.fc-daygrid-event-dot {
  width: 0.25rem;
  height: 1.25rem;
  margin-left: 0;
  margin-right: 0.75rem;
  border: none;
  border-radius: 0.125rem;
}

.fc-event {
  box-shadow: none;
}

.fc-daygrid-event.fc-event-start {
  margin-left: 0.75rem !important;
}

.event-fc-color.fc-bg-success {
  border: 1px solid #dcfce7;
  background-color: #dcfce7;
}
.event-fc-color.fc-bg-danger {
  border: 1px solid #fee2e2;
  background-color: #fee2e2;
}
.event-fc-color.fc-bg-primary {
  border: 1px solid #eef2ff;
  background-color: #eef2ff;
}
.event-fc-color.fc-bg-warning {
  border: 1px solid #ffedd5;
  background-color: #ffedd5;
}

.event-fc-color.fc-bg-success .fc-daygrid-event-dot {
  background-color: #22c55e;
}
.event-fc-color.fc-bg-danger .fc-daygrid-event-dot {
  background-color: #ef4444;
}
.event-fc-color.fc-bg-primary .fc-daygrid-event-dot {
  background-color: #6366f1;
}
.event-fc-color.fc-bg-warning .fc-daygrid-event-dot {
  background-color: #f97316;
}

.fc-direction-ltr .fc-timegrid-slot-label-frame {
  padding: 0.375rem 0.75rem;
  text-align: left;
  font-size: 0.875rem;
  font-weight: 500;
  color: #6b7280;
}
.dark .fc-direction-ltr .fc-timegrid-slot-label-frame {
  color: #9ca3af;
}

.fc .fc-timegrid-axis-cushion {
  font-size: 0.875rem;
  font-weight: 500;
  color: #6b7280;
}
.dark .fc .fc-timegrid-axis-cushion {
  color: #9ca3af;
}

.custom-calendar .fc-h-event {
  background-color: transparent;
  border: none;
  color: black;
}

.fc.fc-media-screen {
  min-height: 100vh;
}
